<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-12 col-6 p-lg-0">
        <a href="/" class="logo header__logo">
          <svg class="logo__icon">
            <use xlink:href="assets/img/sprite.svg#logo-icon"></use>
          </svg>
          <p class="logo__text">money<span>lender</span></p>
        </a>
      </div>
      <div class="col-sm-2 col-12 col-6 offset-lg-7">
        <button class="btn-reset btn btn_yellow footer__btn">войти</button>
      </div>
      <div class="col-12 p-lg-0">
        <div class="footer__info">
          <p>Возврат суммы Займа и процентов за пользование им Заемщик осуществляет путем перечисления денежных средств
            на расчетный счет Общества, по реквизитам, указанным
            на сайте Кредитора в сети Интернет по адресу https://eco-finance.ru и в Договоре, либо путем погашения займа
            на сайте Кредитора https://eco-finance.ru в личном кабинете при
            помощи банковской карты или внесения денежных средств в кассу Общества. Кроме того, погашение может быть
            осуществлено Заёмщиком любым другим доступным
            способом, указанным на сайте Общества, либо размещенным в офисах Кредитора, актуальных на дату проведения
            платежа.
          </p>
          <p> Сайт использует файлы «cookie», с целью персонализации сервисов и повышения удобства пользования
            веб-сайтом. «Cookie» представляют собой небольшие файлы,
            содержащие информацию о предыдущих посещениях веб-сайта. Если вы не хотите использовать файлы «cookie»,
            измените настройки браузера.</p>
        </div>
        <div class="footer__copy">
          <p>2019-2022, ООО МКК «Старткапитал», Официальный сайт, Регистрационный номер записи в государственном реестре микрофинансовых организаций ЦБ РФ №2103336009765</p>
        </div>
      </div>
    </div>
  </div>
</footer>
