<header class="header">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-md-3">
        <a href="" class="logo header__logo">
          <svg class="logo__icon">
            <use xlink:href="assets/img/sprite.svg#logo-icon"></use>
          </svg>
          <p class="logo__text">money<span>lender</span></p>
        </a>
      </div>
      <div class="col-md-4 offset-md-5 flex header__left">
        <a href="" class="header__link">Правовая информация</a>
        <button class="btn-reset btn btn_trnsp header__btn">войти</button>
      </div>
    </div>
  </div>
</header>
